/*@media only screen and (max-width: 1200px) {
	body {width: 80%; font-size: 65%;}
	h1 {font-size: 3.0em;}
}*/

@media only screen and (max-width: 1000px) {
	body {font-size: 65%;width: 90%;}
	h1 {font-size: 2.7em; letter-spacing: 0px;}
}


@media only screen and (max-width: 600px) {
	body {font-size: 60%; width: 95%;padding-top: 5em;}
	h1 { font-size: 3.0em; }
	h2 { display: block; text-align: center; }
	ul {padding-left: 2em;}
	h4 {padding-left: 0em; letter-spacing: 0px;word-spacing: 1px;}
	h3 {letter-spacing: 0px;}
	#info { float: none; display: block; text-align: center; }
	#photo {
		float: none;
		display: inline-block;
		text-align: center;
		padding-bottom: 1em;
		padding-right: 0em;
	}
	#w { padding: 20px 15px; }
	.topcontent{padding-top: 0;padding-bottom: 0;}
/*	#skills-left, skills-right { width: 100%; }*/
}




/*@media only screen and (max-width: 480px) {
	body {width: 95%; font-size: 45%;}
	#w { margin: 5px 5px; 
		padding: 10px 5px; }
}*/

/** iPhone only **/
/*@media screen and (max-device-width: 480px) {*/
	/*ul li { width: 150px; }*/
/*}*/