---
layout: default
---

<div class="post">
    <header class="post-header">

        <div class="row align-items-center justify-content-center">
            {% if page.profile %}
            <div class="profile float-center col-5">
                {% if page.profile.image %}
                {%- include figure.html
                path=page.profile.image
                alt="Zhenghao's Avatar" -%}
                {% endif %}
                {% if page.profile.address %}
                <div class="address">
                    {{ page.profile.address }}
                </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="profile float-center col-6">
                <h1 class="post-title" style="padding-top: 10px; text-align: center;">
                    <img id="MySignImg" class="sign" src="../assets/img/sign.png" alt="" itemprop="image"
                         style="text-align: center; width: 67%"/>
                    <br>
                    Zhenghao (Mark) Peng


                    {% if page.social %}
                    <div class="social">
                        <div class="contact-icons">
                            {% include social.html %}
                        </div>
                    </div>
                    {% endif %}

                </h1>
                <p class="desc">{{ page.description }}</p>
            </div>
        </div>
    </header>
    <article>
        <div class="clearfix" style="padding-top: 4em">
            {{ content }}
        </div>

        {% if page.news %}
        {% include news.html %}
        {% endif %}

        {% if page.selected_papers %}
        {% include selected_papers.html %}
        {% endif %}

    </article>

</div>


<script src="{{ '/assets/js/after_init.js' | relative_url }}"></script>